button.navbar-toggler{
	border:none;
}
nav{
	text-align: left;
}
hr{
	width:33%;
	border-color:black;
	display: inline-block;
}
h1{
	display:inline;
	font-size: 15pt;
	margin-top: 10px;
}
h2{
	display:inline;
	font-size:10pt;
}
div.userheading{
	width:33%;
	display: inline-block;
	text-align: center;
}
span.usertext{
	width:66%;
	text-align:center;
	display: inline-block;
	position: relative;
	top: 10px;
}

h1.PageTitle{
	text-align:center;
	font-size: 30pt;
	margin-top:30px;
}

div.AccountInfo{
	border: 2px solid black;
	width:90%;
	margin-left:5%;
	margin-right: 5%;
}

p.attribute{
	display: inline-block;
	text-align: left;
	width:49.5%;
	border-right: 3px solid black;
	margin-bottom: 0px;
	padding-bottom: 18px;
}

p.value{
	text-align: right;
	display: inline-block;
	width:49.5%;
	border-left: 3px solid black;
	margin-bottom:0px;
	padding-bottom: 18px;
}

button.edit{
	display:block;
	width:142px;
	margin:auto;
	margin-top: 15px;

}